* text=auto !eol
/AUTHORS -text
/INSTALL -text
/LICENSE -text
/README -text
ThirdParty/get.ASL -text
ThirdParty/get.GAMS_IO -text
ThirdParty/get.METIS -text
ThirdParty/get.TNT -text
ThirdParty/get.ranlib -text
ThirdParty/gmsla_.zip -text
doc/COINintegration.tex -text
doc/doxygen.conf -text
doc/footer.html -text
doc/makefile -text
doc/paramdochtml.lex -text
mod/alan.col -text
mod/alan.mod -text
mod/alan.nl -text
mod/alan.row -text
mod/elf.col -text
mod/elf.mod -text
mod/elf.nl -text
mod/elf.row -text
mod/ex1221.col -text
mod/ex1221.mod -text
mod/ex1221.nl -text
mod/ex1221.row -text
mod/ex1222.col -text
mod/ex1222.mod -text
mod/ex1222.nl -text
mod/ex1222.row -text
mod/ex1223.col -text
mod/ex1223.mod -text
mod/ex1223.nl -text
mod/ex1223.row -text
mod/ex1252.col -text
mod/ex1252.mod -text
mod/ex1252.nl -text
mod/ex1252.row -text
src/LaGO.cc -text
src/MINLP.cc -text
src/MINLP.h -text
src/MINLPData.cc -text
src/MINLPData.h -text
src/MINLPView.cc -text
src/MINLPView.h -text
src/ampl.cc -text
src/ampl.h -text
src/bcp.cc -text
src/bcp.h -text
src/boxfind.cc -text
src/boxfind.h -text
src/column.cc -text
src/column.h -text
src/cuts.cc -text
src/cuts.h -text
src/decomp.cc -text
src/decomp.h -text
src/dualqqp.cc -text
src/dualqqp.h -text
src/f77filehandle.cc -text
src/f77filehandle.h -text
src/f77files.f -text
src/func.cc -text
src/func.h -text
src/gams.cc -text
src/gams.h -text
src/graph.h -text
src/ipopt2.cc -text
src/ipopt2.h -text
src/lagheu.cc -text
src/lagheu.h -text
src/linrelax.cc -text
src/linrelax.h -text
src/makefile -text
src/minlpopt.cc -text
src/minlpopt.h -text
src/node.cc -text
src/node.h -text
src/opt.cc -text
src/opt.h -text
src/osi.cc -text
src/osi.h -text
src/param.cc -text
src/param.h -text
src/polynom.cc -text
src/polynom.h -text
src/preprocessapi.h -text
src/problem.cc -text
src/problem.h -text
src/quaduest.cc -text
src/quaduest.h -text
src/relax.cc -text
src/relax.h -text
src/relaxopt.cc -text
src/relaxopt.h -text
src/rmp.cc -text
src/rmp.h -text
src/sampling.cc -text
src/sampling.h -text
src/snopt.cc -text
src/snopt.h -text
src/standard.h -text
src/subgradopt.cc -text
src/subgradopt.h -text
src/tools.cc -text
src/tools.h -text
src/usermatrix.cc -text
src/usermatrix.h -text
src/uservector.h -text
