* text=auto !eol
/Externals -text
LaGO/AUTHORS -text
LaGO/INSTALL -text
LaGO/LICENSE -text
LaGO/Makefile.am -text
LaGO/Makefile.in -text
LaGO/README -text
LaGO/configure -text
LaGO/configure.ac -text
LaGO/doc/COINintegration.tex -text
LaGO/doc/doxygen.conf -text
LaGO/doc/footer.html -text
LaGO/doc/makefile -text
LaGO/doc/paramdochtml.lex -text
LaGO/mod/alan.col -text
LaGO/mod/alan.mod -text
LaGO/mod/alan.nl -text
LaGO/mod/alan.row -text
LaGO/mod/elf.col -text
LaGO/mod/elf.mod -text
LaGO/mod/elf.nl -text
LaGO/mod/elf.row -text
LaGO/mod/ex1221.col -text
LaGO/mod/ex1221.mod -text
LaGO/mod/ex1221.nl -text
LaGO/mod/ex1221.row -text
LaGO/mod/ex1222.col -text
LaGO/mod/ex1222.mod -text
LaGO/mod/ex1222.nl -text
LaGO/mod/ex1222.row -text
LaGO/mod/ex1223.col -text
LaGO/mod/ex1223.mod -text
LaGO/mod/ex1223.nl -text
LaGO/mod/ex1223.row -text
LaGO/mod/ex1252.col -text
LaGO/mod/ex1252.mod -text
LaGO/mod/ex1252.nl -text
LaGO/mod/ex1252.row -text
LaGO/src/LaGO.cc -text
LaGO/src/LaGOConfig.h -text
LaGO/src/MINLP.cc -text
LaGO/src/MINLP.h -text
LaGO/src/MINLPData.cc -text
LaGO/src/MINLPData.h -text
LaGO/src/MINLPView.cc -text
LaGO/src/MINLPView.h -text
LaGO/src/Makefile.am -text
LaGO/src/Makefile.in -text
LaGO/src/ampl.cc -text
LaGO/src/ampl.h -text
LaGO/src/bcp.cc -text
LaGO/src/bcp.h -text
LaGO/src/boxfind.cc -text
LaGO/src/boxfind.h -text
LaGO/src/column.cc -text
LaGO/src/column.h -text
LaGO/src/config_lago.h.in -text
LaGO/src/cuts.cc -text
LaGO/src/cuts.h -text
LaGO/src/decomp.cc -text
LaGO/src/decomp.h -text
LaGO/src/dualqqp.cc -text
LaGO/src/dualqqp.h -text
LaGO/src/f77filehandle.cc -text
LaGO/src/f77filehandle.h -text
LaGO/src/f77files.f -text
LaGO/src/func.cc -text
LaGO/src/func.h -text
LaGO/src/gams.cc -text
LaGO/src/gams.h -text
LaGO/src/graph.h -text
LaGO/src/ipopt2.cc -text
LaGO/src/ipopt2.h -text
LaGO/src/lagheu.cc -text
LaGO/src/lagheu.h -text
LaGO/src/linrelax.cc -text
LaGO/src/linrelax.h -text
LaGO/src/minlpopt.cc -text
LaGO/src/minlpopt.h -text
LaGO/src/node.cc -text
LaGO/src/node.h -text
LaGO/src/opt.cc -text
LaGO/src/opt.h -text
LaGO/src/osi.cc -text
LaGO/src/osi.h -text
LaGO/src/param.cc -text
LaGO/src/param.h -text
LaGO/src/polynom.cc -text
LaGO/src/polynom.h -text
LaGO/src/preprocessapi.h -text
LaGO/src/problem.cc -text
LaGO/src/problem.h -text
LaGO/src/quaduest.cc -text
LaGO/src/quaduest.h -text
LaGO/src/relax.cc -text
LaGO/src/relax.h -text
LaGO/src/relaxopt.cc -text
LaGO/src/relaxopt.h -text
LaGO/src/rmp.cc -text
LaGO/src/rmp.h -text
LaGO/src/sampling.cc -text
LaGO/src/sampling.h -text
LaGO/src/snopt.cc -text
LaGO/src/snopt.h -text
LaGO/src/standard.h -text
LaGO/src/subgradopt.cc -text
LaGO/src/subgradopt.h -text
LaGO/src/tools.cc -text
LaGO/src/tools.h -text
LaGO/src/usermatrix.cc -text
LaGO/src/usermatrix.h -text
LaGO/src/uservector.h -text
/Makefile.am -text
/Makefile.in -text
ThirdParty/GAMS_IO/get.GAMS_IO -text
ThirdParty/GAMS_IO/gmsla_.zip -text
ThirdParty/METIS/get.METIS -text
ThirdParty/TNT/get.TNT -text
ThirdParty/ranlib/get.ranlib -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
/install-sh -text
/ltmain.sh -text
/missing -text
