* text=auto !eol
/Externals -text
LaGO/AUTHORS -text
LaGO/INSTALL -text
LaGO/LICENSE -text
LaGO/Makefile.am -text
LaGO/Makefile.in -text
LaGO/README -text
LaGO/configure -text
LaGO/configure.ac -text
LaGO/inc/config_lago.h.in -text
LaGO/src/Applications/Makefile.am -text
LaGO/src/Applications/Makefile.in -text
LaGO/src/Base/LaGOConfig.h -text
LaGO/src/Base/LaGODenseVector.hpp -text
LaGO/src/Base/LaGOFunction.cpp -text
LaGO/src/Base/LaGOFunction.hpp -text
LaGO/src/Base/LaGOSmartPtr.hpp -text
LaGO/src/Base/LaGOSparseVector.cpp -text
LaGO/src/Base/LaGOSparseVector.hpp -text
LaGO/src/Base/LaGObase.hpp -text
LaGO/src/Base/Makefile.am -text
LaGO/src/Base/Makefile.in -text
LaGO/src/Interfaces/GAMS/LaGOGamsFunction.cpp -text
LaGO/src/Interfaces/GAMS/LaGOGamsFunction.hpp -text
LaGO/src/Interfaces/GAMS/LaGOGamsReader.cpp -text
LaGO/src/Interfaces/GAMS/LaGOGamsReader.hpp -text
LaGO/src/Interfaces/GAMS/Makefile.am -text
LaGO/src/Interfaces/GAMS/Makefile.in -text
LaGO/src/Makefile.am -text
LaGO/src/Makefile.in -text
LaGO/src/Problem/LaGOBlockFunction.hpp -text
LaGO/src/Problem/LaGOMINLPData.cpp -text
LaGO/src/Problem/LaGOMINLPData.hpp -text
LaGO/src/Problem/Makefile.am -text
LaGO/src/Problem/Makefile.in -text
/Makefile.am -text
/Makefile.in -text
ThirdParty/FILIB++/Makefile.am -text
ThirdParty/FILIB++/Makefile.in -text
ThirdParty/FILIB++/configure -text
ThirdParty/FILIB++/configure.ac -text
ThirdParty/FILIB++/filib.patch -text
ThirdParty/FILIB++/filib.patch2 -text
ThirdParty/FILIB++/filib.patch3 -text
ThirdParty/FILIB++/filib.patch4 -text
ThirdParty/FILIB++/filib.patch5 -text
ThirdParty/FILIB++/get.FILIB++ -text
ThirdParty/FILIB++/interval_Makefile.am -text
ThirdParty/FILIB++/interval_Makefile.in -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf -text
/install-sh -text
/ltmain.sh -text
/missing -text
